* {
    box-sizing: border-box;
    font-weight: normal;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    border: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(253, 114, 246), rgb(29, 1, 61));
}

.mainContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.displayContainer {
    grid-column: 1 / -1;
    background-color: rgba(39, 39, 39, 0.80);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    height:150px;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.top {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    height: 50%;
}

.bottom {
    color: white;
    font-size: 4rem;
    height: 50%;
}

button {
    background-color: black;
    font-size: 2rem;
    color: white;
    border: 0.5px solid rgb(125, 55, 138);
    outline: none;
    cursor: pointer;
}
button:hover {
    opacity: 0.7;
}

.NaN {
    background-color:white;
    color: black;
}

.span2 {
    grid-column: span 2;
}

.equals {
    font-size: 4rem;
}

.art {
    height: 4rem;
    vertical-align: middle;
}

.link {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}
